{% extends "master.html" %}

{% block title %}
User {user.username}
{% endblock %}


{% block content %}


<div style="padding-left: 20px; width:95%">
    <h1>{{user.username}}</h1>
    <hr>
    <h2>Submited questions:</h2>
    {% if questions %}
        {% for question in questions %}
        <li style="list-style-type: none;" id="question-listing" class="{{question.category}}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div>
            <h5 class="{{question.category}}">{{question.formatted_category}}</h5>
            <h5>by: <a href="{% url 'user_details' username=question.user.username %}">{{question.user.username}}</a></h5>
        </div>
        <h4 style="display:inline-block"><a href="{{ question.id }}">{{ question.question }}</a></h4>
        </li>
        {% endfor %}
    {% else %}
    <p>This user has not submited any questions.</p>
    {% endif %}
    <hr>
    <p>Check the whole <a href="/users">user list</a></p>
</div>

{% endblock %}